{% extends "base.html" %}

{% block content %}

<form name = "userInfo" id = "userInfo" action = "/" method = "POST">
    <p>User Name: <input type = "text" name = "uName" value = "{{ uName }}" /> {{ uNameError }}</p>
    <p>E-Mail: <input type = "text" name = "eMail" value = "{{ eMail }}" /> {{ eMailError }}</p>
    <p>Password: <input type = "password" name = "password" value = "" /> {{ passwordError }}</p>
    <p>Confirm Password: <input type = "password" name = "confirmPassword" value = "" /> {{ confirmPasswordError }}</p>
    <p><input type = "submit" name = "submit" value = "submit" /></p>
</form>

{% endblock %}
